body {
	background-color: #333;
	color: #ccc;
	font-family: Arial, Helvetica, sans-serif;
	padding: 1rem 2rem;
}

div.areas {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin-top: 1rem;
}

div.area {
	background-color: #222;
	padding: .5rem 1rem;
	border-radius: .5rem;
	h2 {
		color: rgb(212, 192, 153);
	}
}